<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h3>Date: {{date}}</h3>
    <h3>Type: {{type}}</h3>
    <h3>Attachments:</h3>
    {{#attachments}}
      <li><a href="{{att_url}}">{{att_name}}</a></li>
    {{/attachments}}
    <!-- Any straight html that gets passed needs the 
         triple mustaches so it is "unescaped" and acts like
         real html rather than printing all the <p>, etc. 
         {{{world}}} uses markdown.encode which generates html from markdown -->
    <h3>Content:</h3>
    {{{content}}}
  </body>
</html>
